* {
    box-sizing: border-box;
}

/*#prima-section > div:first-child{
    background-color: aquamarine;
}
#prima-section > div:hover{
    background-color: lime;
}
#prima-section div:nth-child(4),
#prima-section > div:nth-child(5){
    background-color: magenta;
}
input:checked + label{
    background-color: red;
}
div::before{
    content: "-";
}
div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 16px;
    margin: 16px auto;
}
#uno{
    box-sizing: border-box;
}
#due{
    margin-top: 32px;
}
#alto{
    height: 500px;
    border: 1px solid black;
}

#section-due{
    border: 2px solid salmon;
    height: 200px;
}
#div-section-due{
    border: 2px solid lime;
    height: 50%;
}*/

#article-uno {
    min-height: 160px;
    max-height: 320px;
    border-top: 2px solid red;
    border-right: 4px dotted orange;
    border-bottom: 6px dashed green;
    border-left: 8px groove pink;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 5% 5%; /*in % viene calcolato sulla lunghezza, anche il top e bottom!*/
    padding: 16px;
}

#article-uno::-webkit-scrollbar {
    display: none;
}

.outline {
    outline: 3px solid lime;
}

.border {
    border: 1px solid lightblue;
}

.bg-red {
    background-color: red;
}

#div-prova {
    min-height: 160px;
}

.b-radius-5 {
    border-radius: 5px;
}

.b-top-left-10-5 {
    border-top-left-radius: 10px 5px;
}

/*#section-tre div{
    text-align: center;
}
#img1{
    max-width: 100%;
}
#img2{
    width: 100%;
}*/
#background div {
    width: 100%;
    min-height: 160px;
    border: 1px solid black;
}

#background div:nth-child(1) {
    background-color: chartreuse;
}

#background div:nth-child(2) {
    background-image: url(panorama.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#background div:nth-child(3) {
    background-image: url("./small.png");
    background-repeat: repeat;
}

@media screen and (min-width: 992px) {
    #background div {
        width: 30%;
        display: inline-block;
    }

    #background div:nth-child(2),
    #background div:nth-child(3) {
        margin-left: 1%;
    }
}