<mat-toolbar color="primary">
    <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Form Reattivo</span>
    <button mat-button><a href="javascript:void" [routerLink]="['']">Singolo</a></button>
    <button mat-button><a href="javascript:void" [routerLink]="['formcompleto']">Form</a></button>
    <span class="spacer"></span>
    <button mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="icon" aria-label="icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>



