* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.container {
    width: 90%;
    margin: 20px auto 16px;
}

.flex {
    display: flex;
    justify-content: center;
}

#top-menu ul, #top-menu li {
    display: inline-block;
}

#banner {
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

#banner div {
    background-color: black;
    flex-direction: column;
}

#banner h1, #banner h2 {
    color: white;
    background-color: black;
}

#banner button {
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 9em;
    height: 3em;
}

#servizi {
    flex-direction: column;
    text-align: center;
}

#servizi div {
    border: 1px solid black;
    padding: 2%;
}

#chi-siamo {
    flex-direction: column;
    align-items: center;
}

#chi-siamo img {
    max-width: 50%;
}

#chi-siamo div {
    flex-direction: column;
    align-items: center;
}

#chi-siamo button {
    margin-top: 5px;
    height: 3em;
    width: 200px;
    border-radius: 5px;
}

#parallasse {
    width: 100%;
    min-height: 300px;
    background-image: url("parallasse.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
}

#contatti {
    min-height: 300px;
    flex-direction: column;
    align-items: center;
}

#contatti div:nth-child(1) {
    border-radius: 5px;
    border: 1px solid white;
    width: 70%;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

#contatti div:nth-child(2) {
    width: 70%;
    padding: 20px;
    display: inline-block;
    background-color: salmon;
    border-radius: 5px;
}

#invia-contatti label {
    color: white;
}

#invia-contatti input {
    height: 30px;
    width: 90%;
}

#invia-contatti button {
    margin-top: 5px;
    width: 92%;
}

#ragione-sociale {
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    flex-direction: column;
}


#ragione-sociale div {
    width: 75%;
}

#ragione-sociale h3, #ragione-sociale p, #ragione-sociale a {
    color: white;
}

#ragione-sociale h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }

    #banner div {
        flex-direction: row;
    }

    #servizi {
        flex-direction: row;
    }

    #chi-siamo {
        flex-direction: row;
    }

    #chi-siamo div {
        width: 50%;
    }

    #contatti {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #contatti div:nth-child(1) {
        width: 70%;
        margin: 20px;
        text-align: left;
    }

    #contatti div:nth-child(2) {
        width: 30%;
    }

    #ragione-sociale {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #ragione-sociale div {
        width: 25%;
    }
}