<mat-card class="card">
    <mat-card-title>Form Reattivo</mat-card-title>
    <mat-card-subtitle>Un modo per non fare errori</mat-card-subtitle>
    <mat-card-content>
        <form class="form">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Company (disabled)</mat-label>
                <input matInput disabled value="Google">
            </mat-form-field>
            <p>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="half-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Ex. Via Valturio 4"></textarea>
                </mat-form-field>
            </p>
            <mat-form-field class="half-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. Rimini">
            </mat-form-field>
            <mat-form-field class="half-width" appearance="fill">
                <mat-label>Region</mat-label>
                <input matInput placeholder="Ex. Emilia-Romagna">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" [disabled]="emailFormControl.invalid">Invia</button>
        </form>
    </mat-card-content>
</mat-card>
